.navbar {
  width: 100%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.nav_logo {
  background-image: url("static/images/logo.png");
  width: 200px;
  height: 105px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav_links {
  width: 60%;
}

.nav_links ul {
  list-style-type: none;
  font-size: 15px;
}

.nav_links ul a {
  padding: 11px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(162, 49, 243);
  transition: 0.4s ease-in-out;
}
.nav_links ul a:hover {
  text-decoration: none;
  font-weight: bold;
  color: aquamarine;
  background-color: rgb(162, 49, 243);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

li {
  display: inline;
  padding: 30px;
}

#build_link {
  color: aquamarine;
  background-color: rgb(162, 49, 243);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#build_link:hover {
  color: rgb(162, 49, 243);
  background-color: aquamarine;
}

.container_first {
  position: relative;
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.left_container {
  padding: 20px;
}

.left_container p {
  font-size: 70px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
}

.left_container #span {
  color: blueviolet;
}
.right_container {
  padding: 20px;
}

.right_container video {
  height: 360px;
  width: 595px;
}
