* {
  font-family: monospace;
}

.navbar {
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  background-color: white;
}

.nav_logo {
  background-image: url("static/images/logo.png");
  width: 200px;
  height: 105px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.nav_links {
  width: 65%;
}

.nav_links ul {
  list-style-type: none;
  font-size: 16px;
}

.nav_links ul a {
  padding: 11px;
  border-radius: 3px;
  text-decoration: none;
  font-weight: bold;
  color: rgb(162, 49, 243);
  transition: 0.4s ease-in-out;
}
.nav_links ul a:hover {
  text-decoration: none;
  font-weight: bold;
  color: aquamarine;
  background-color: rgb(162, 49, 243);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}

li {
  display: inline;
  padding: 30px;
}

#build_link {
  color: aquamarine;
  background-color: rgb(162, 49, 243);
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

#build_link:hover {
  color: rgb(162, 49, 243);
  background-color: aquamarine;
}

.container_first {
  position: relative;
  margin-top: 150px;
  display: flex;
  justify-content: space-around;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 20px;
  /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}
.left_container {
  padding: 20px;
}

.left_container p {
  font-size: 70px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
}

.left_container #span {
  color: blueviolet;
}
.right_container {
  padding: 20px;
}

.right_container video {
  height: 360px;
  width: 595px;
}

.container_second {
  position: relative;
  margin: 20px;
  justify-content: space-around;
  border-radius: 20px;
  padding: 20px;
}

.container_second p {
  font-size: 40px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
}

#text_section {
  width: 80%;
  margin: auto;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  font-family: monospace;
}

.logo_section1 {
  margin: 20px auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
}
.logo_section2 {
  margin: 20px auto;
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.logo {
  padding: 10px;
  height: 100px;
  width: 25%;
  display: flex;
  justify-content: center;
}

.about_us {
  position: relative;
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.about_left {
  padding: 20px;
}
.about_left video {
  height: 360 px;
  width: 595px;
}

.about_right {
  padding: 20px;
}

.about_right h1 {
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  color: blueviolet;
}
.about_right span {
  color: rgb(197, 79, 96);
  font-size: 35px;
}

.about_right p {
  text-align: justify;
  font-size: 19px;
}
